<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<style>
    .btns {
        text-align: center;
    }
    .btn {
        width: 200px;
        height: 50px;
        margin-top: 30px;
        border: 1px solid #2ecc71;
        background-color: #fff;
        font-size: 18px;
        outline-color: aqua;
        border-radius: 4px;
    }
</style>
<body>
<div style="text-align: center">
    <form action='slaveMachine' method="post">
        <div style="padding-top: 15%;padding-bottom: 10px">
            <div style="color: red;margin-bottom: 20px">{{ error }}</div>
    房间号 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <input type="text" name="roomid">
        </div>
    <br>
        <div style="padding-bottom: 10px">
    身份证号码 &nbsp; <input type="text" name="idcard">
        </div>
        <br><input type="submit" value="登录" class="btn">
    </form>
</div>
</body>
</html>
